.features {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.feature-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
}

.feature-icon-wrapper {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .feature-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 264px;
    height: 112px;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }
}

.feature-title {
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

@media only screen and (min-width: 768px) {
  .feature-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}

.feature-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media only screen and (min-width: 1158px) {
  .feature-text {
    font-weight: 400;
  }
}
